@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body, html {
    height: 100%;
}

hr {
    margin-bottom: 0;
}

.messages {
    background-color: #eee;
    padding: .5rem
}

.container-fluid {
    background-color: #eee;
    height: 100%;
    overflow: auto;
}

.listings-container {
    font-family: "PT Sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 1rem;

    .card-img-top {
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }

    .card-description {
        height: 3rem;
    }
}

.listing-container {
    display: grid;

    .card {
        grid-column: 1;
        width: 100%;
        border-radius: 1rem;

        .card-img-top {
            width: 100%;
            height: 18rem;
            object-fit: cover;
        }

        .card-body {
            padding: 0;
        }

        .card-title {
            margin-bottom: 0;
        }

        form {
            padding: 1rem;
        }
    }

    .details {
        border: 1px solid blue;
    }

    .comments {
        border: 1px solid green;
    }

    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10rem, auto);

    @media screen and (min-width: 600px) {
        grid-template-columns: 18rem 18rem 1fr;

        .details {
            grid-column: 2 / span 2;
        }

        .comments {
            grid-column: 1 / span 3;
        }
    }

    @media screen and (min-width: 800px) {
        .comments {
            grid-column: 2 / span 2;
        }
    }
}
