{% extends "auctions/layout.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 

{% block title %}{{ block.super }} - {{ listing.title }}{% endblock %} 

{% block body %} 
<div class="listing-container pt-3 grid">
    <div class="row g-3">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <!-- Side Card -->
            {% if listing.is_active %}
                {% include 'includes/_listing_side_card_active.html' %}
            {% else %}
                {% include 'includes/_listing_side_card_inactive.html' %}
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <div class="card h-100 bg-info text-white bg-dark">
                <div class="card-header text-center">{{ listing.title }}</div>
                <div class="card-body bg-light">
                    <div class="card-text bg-light text-dark">
                        {{ listing.description|linebreaks }}
                        <p><strong>Current Price: ${{ listing.current_price }}</strong></p>
                        <p><strong>Seller:</strong> {{ listing.seller }}</p>
                        <p><strong>Category:</strong><a href="{{ listing.category.get_absolute_url }}">{{ listing.category.title }}</a></p>
                        <p class="text-muted">Listed on {{ listing.created_at }}</p>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="comments col-md-12 offset-lg-4 col-lg-8">
            <h2 class="text-center pt-3">Comments</h2>
            {% if user.is_authenticated %}
                <form method="post" class="mb-5">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            {% else %}
                <p class="mb-5">Log in to leave a comment.</p>
            {% endif %}
            
            {% for comment in listing.comments.all %}
            <div class="card mb-2">
                <div class="card-header">
                  </div>
                <div class="card-body">
                  {{ comment.content }}
                </div>
                <div class="card-footer">
                    Created by {{ comment.user }}  {{ comment.created_at }}
                </div>
              </div>
            {% endfor %}
           </div>
    </div>
</div>
 {% endblock %}