{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="text-center py-3">Active Listings</h2>
    <div class="listings-container">
    {% for listing in listings %}
    <div class="card listing-card">
        <img class="card-img-top" src="{{ listing.profile_image.url }}" alt="Card image">
        <div class="card-body">
          <h5 class="card-title text-center">{{ listing.title }}</h5>
          <p class="card-text">{{ listing.description|truncatewords:15 }}</p>
          <p class="card-text font-weight-bold text-center">${{ listing.starting_bid }}</p>
          <a href="#" class="btn btn-primary btn-block">Learn More</a>
        </div>
      </div>
    {% empty %}
        <p>There are no listings</p>
    {% endfor %}
    </div>
{% endblock %}