{% load static %} 
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"> {% for listing in listings %} <div
    class="col">
    <div class="card">
      <img src="{{ listing.profile_image.url }}" alt="{{ lisiting.title }}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Mesa Boogie Amplifier</h5>
        <p class="card-text">{{ listing.description|truncatewords:15 }}</p>
      </div>
      <div class="d-grid m-2">
        <a href="" class="btn btn-primary btn-block">Learn More</a>
      </div>
    </div>
  </div> 
  {% empty %} 
    <p>Ther are no listings</p> 
  {% endfor %}
</div>