{% load static %}
<div class="listings-container">
    {% for listing in listings %}
    <div class="card listing-card shadow mb-3">
        {% if listing.profile_image %}
        <img class="card-img-top" src="{{ listing.profile_image.url }}" alt="{{ listing.title }}">
        {% else %}
        <img class="card-img-top" src="{% static 'auctions/default.png' %}" alt="{{ listing.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-center">{{ listing.title }}</h5>
          <p class="card-text card-description">{{ listing.description|truncatewords:15 }}</p>
        </div>
        <div class="card-body">
          <p class="card-text font-weight-bold text-center">${{ listing.starting_bid }}</p>
        </div>
        <div class="card-body">
          <a href="{% url 'detail' listing.slug %}" class="btn btn-primary btn-block">Learn More</a>
        </div>
      </div>
    {% empty %}
        <p>There are no listings</p>
    {% endfor %}
    </div>